# [user]
# 	  name = duexcoast
# 	  email = conor.ux@gmail.com
# [init]
# 	  defautlBranch = main
# 	  defaultBranch = main
# [core]
#     editor = nvim
# [diff]
#     tool = vimdiff
# [merge]
#     toll = vimdiff
#     conflictstyle = diff3
# 
# [filter "lfs"]
# 	  required = true
# 	  clean = git-lfs clean -- %f
# 	  smudge = git-lfs smudge -- %f
# 	  process = git-lfs filter-process
# 
# [commit]
#	template = /Users/conor/.config/git/commit_template
